* 
{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;

}
.container{
    width: 100vw;
    height: 100vh;
    background-image:linear-gradient(rgba(255, 255, 255, 0.712), rgba(0, 0, 0, 0.815)), url(pictures/background.png);
    background-position: center;
    background-size: cover;
    padding: 0 8%;
    position: relative;

}
.content{
    top: 50%;
    padding: 6rem;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
}
.content h1{
    font-size: 64px;
    font-weight: 600;
}
.content h1 span{
    color: #e89b00;
}
.content button{
    background: transparent;
    border: 2px solid #e89b00;
    outline: none;
    padding: 12px 25px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}
.content button img{
    width: 15px;
    margin-left: 10px;
}
.launch-time{
    display: flex;
}
.launch-time div{
    flex-basis: 100px;
}
.launch-time div p{
    font-size: 60px;
    margin-bottom: -6px;
}
.rocket{
    width: 250px;
    position: absolute;
    right: 25%;
    bottom: 0;
    animation: rocket 6s ease infinite;
}
@keyframes rocket {
    0%{
        bottom: 0;
        opacity: 0;
    }
    100%{
        bottom: 105%;
        opacity: 1;
    }
}